<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>provisioningProfiles</key>
	<dict>
	  	<key>com.znlh.hatch</key>
        <string>bussiness_ent</string>
	</dict>
    <key>signingCertificate</key>
    <string>iPhone Distribution: Zhongneng United Digital Technology Co., Ltd.</string>
    <key>teamID</key>
    <string>FQDS669M2L</string>
    <key>compileBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <false/>
</dict>
</plist>